@import '_colors';
// google font
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  main {
    font-family: 'Lato', sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

// shared style
.horizontal-row {
  height: 2px;
  background-color: $gray;
  border: none;
  width: 100%;
  margin: 0;
}
.icon-flex {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// shared responsive styles
@media (max-width: 768px) {
  .icon-flex {
    width: 2rem;
    height: 2rem;
  }
  .grid-icon {
    display: none;
  }
}

// grid type view style
.all-activities {
  &.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1200px;
  }
}
// activities-title-wrapper styles
.activities-title-wrapper {
  min-width: 520px;
  h1 {
    color: $secondary;
  }
  .grid-icon {
    width: 48px;
    height: 48px;
    i {
      color: $primary;
    }
  }
  .grid-icon:hover {
    background-color: $primary;
    i {
      color: #fff;
    }
  }
  .add-icon {
    width: 48px;
    height: 48px;
    i {
      transform: rotate(-90deg);
      transition: all 0.3s ease-in-out;
      color: $primary;
    }
  }
  .add-icon:hover {
    background-color: $hover;
    i {
      color: $primary;
      transform: rotate(90deg);
      transition: all 0.3s ease-in-out;
    }
  }
}
// activities-title-wrapper responsive styles
@media (max-width: 768px) {
  .activities-title-wrapper {
    min-width: 90%;
  }
}

// activities-record-wrapper styles
.activities-record-wrapper {
  .activities-record-container {
    gap: 16px;
    .record-left-content {
      h2 {
        color: $primary;
      }
      p {
        color: $secondary;
        opacity: 0.6;
        font-weight: 600;
        font-size: 1.05rem;
      }
    }
    .record-right-content {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      .check-icon {
        background-color: $primary;
        transform: scale(0);
        transform-origin: center center;
        transition: all 0.3s ease-in;
        i {
          color: white;
          font-size: 32px;
        }
        &.is-done {
          transform: scale(1);
          transform-origin: center center;
          transition: transform 0.3s ease-in;
        }
      }
      .ellipses-icon {
        cursor: pointer;
        background-color: transparent;
        i {
          color: $secondary;
          font-size: 32px;
        }
      }
      .ellipses-icon:hover {
        background-color: $hover;
        transition: all 0.3s ease-in-out;
      }
      .popup-buttons-card {
        position: absolute;
        top: 40px;
        right: 25px;
        background-color: $primary;
        border: 1px solid $gray;
        border-radius: 8px;
        min-width: 130px;
        transform: scale(0);
        transform-origin: top right;
        transition: all 0.2s ease-out;
        p {
          padding: 0;
          margin: 0;
          font-weight: 600;
          cursor: pointer;
          padding: 4px 8px;
          color: white;
        }
        p:hover {
          background-color: $hover;
          transition: all 0.3s ease-in-out;
          color: black;
        }
        hr {
          height: 1px;
        }
      }
      .popup {
        transform: scale(1);
      }
    }
  }
  hr {
    width: 92%;
    margin: 0 auto;
  }
}
// activities-record-wrapper responsive styles
@media (max-width: 768px) {
  .activities-record-wrapper {
    .activities-record-container {
      gap: 10px;
      .record-left-content {
        h2 {
          font-size: 1.2rem !important;
        }
        p {
          font-size: 1rem;
        }
      }
      .record-right-content {
        gap: 8px;
        .check-icon {
          i {
            font-size: 1.35rem;
          }
        }
        .popup-buttons-card {
          top: 30px;
          right: 10px;
        }
        .ellipses-icon {
          i {
            font-size: 1.35rem;
          }
        }
      }
    }
  }
}

// modal styles
.modal-content-wrapper {
  background-color: $primary;
}
.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba($primary, 0.2) !important;

  // opacity: 0.3;
}
.save-btn {
  background-color: $primary !important;
  color: white !important;
}
