@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body main {
  font-family: "Lato", sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.activities-container {
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.activities-title-wrapper {
  min-width: 480px;
}
.activities-title-wrapper h1 {
  color: #a5a709;
}
.activities-title-wrapper .add-icon {
  width: 48px;
  height: 48px;
}
.activities-title-wrapper .add-icon i {
  transform: rotate(-90deg);
  transition: all 0.3s ease-in-out;
  color: #cfcc2b;
}
.activities-title-wrapper .add-icon:hover {
  background-color: rgb(221, 221, 221);
}
.activities-title-wrapper .add-icon:hover i {
  color: #cfcc2b;
  transform: rotate(90deg);
  transition: all 0.3s ease-in-out;
}

.horizontal-row {
  height: 2px;
  background-color: #b4b4b4;
  border: none;
  width: 100%;
  margin: 0;
}

.icon-flex {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activities-record-wrapper .activities-record-container {
  gap: 16px;
}
.activities-record-wrapper .activities-record-container .record-left-content p {
  color: #b4b4b4;
  font-weight: 500;
  font-size: 18px;
}
.activities-record-wrapper .activities-record-container .record-right-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.activities-record-wrapper .activities-record-container .record-right-content .check-icon {
  background-color: #cfcc2b;
}
.activities-record-wrapper .activities-record-container .record-right-content .check-icon i {
  color: white;
  font-size: 32px;
}
.activities-record-wrapper .activities-record-container .record-right-content .ellipses-icon {
  cursor: pointer;
  background-color: transparent;
}
.activities-record-wrapper .activities-record-container .record-right-content .ellipses-icon i {
  color: #a5a709;
  font-size: 32px;
}
.activities-record-wrapper .activities-record-container .record-right-content .ellipses-icon:hover {
  background-color: rgb(221, 221, 221);
  transition: all 0.3s ease-in-out;
}
.activities-record-wrapper .activities-record-container .record-right-content .popup-buttons-card {
  position: absolute;
  top: 40px;
  right: 25px;
  background-color: #cfcc2b;
  border: 1px solid #b4b4b4;
  border-radius: 8px;
  min-width: 130px;
  transform: scale(0);
  transform-origin: top right;
  transition: all 0.2s ease-out;
}
.activities-record-wrapper .activities-record-container .record-right-content .popup-buttons-card p {
  padding: 0;
  margin: 0;
  font-weight: 600;
  cursor: pointer;
  padding: 4px 8px;
  color: white;
}
.activities-record-wrapper .activities-record-container .record-right-content .popup-buttons-card p:hover {
  background-color: rgb(221, 221, 221);
  transition: all 0.3s ease-in-out;
  color: black;
}
.activities-record-wrapper .activities-record-container .record-right-content .popup-buttons-card hr {
  height: 1px;
}
.activities-record-wrapper .activities-record-container .record-right-content .popup {
  transform: scale(1);
}
.activities-record-wrapper hr {
  width: 92%;
  margin: 0 auto;
}

.activities-modal {
  min-width: 650px;
  border: 0;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 0 0 1rem 0;
}
.activities-modal .modal-content-wrapper {
  background-color: #cfcc2b;
  padding: 0 10px;
  color: white;
}
.activities-modal .modal-content-wrapper h3 {
  font-weight: 600;
}
.activities-modal .modal-content-wrapper button {
  background-color: transparent;
}
.activities-modal .modal-content-wrapper button i {
  color: white;
}
.activities-modal .activities-form {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 20px 40px;
}
.activities-modal .activities-form div {
  min-width: 100%;
}
.activities-modal .activities-form label {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 8px;
}
.activities-modal .activities-form .input-field {
  min-width: 100%;
  outline: none;
  padding: 8px 0px;
  font-size: 1.1rem;
  font-weight: 500;
  border: 0;
  border-bottom: 2px solid rgb(221, 221, 221);
}
.activities-modal .activities-form .input-field::placeholder {
  color: #b4b4b4;
}
.activities-modal .activities-form .button-wrapper {
  width: 100%;
  justify-content: end;
  gap: 20px;
}
.activities-modal .activities-form .button-wrapper .cancel-btn,
.activities-modal .activities-form .button-wrapper .save-btn {
  padding: 8px 20px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.2rem;
  transition: all 0.3s ease-in;
}
.activities-modal .activities-form .button-wrapper .cancel-btn {
  border: 2px solid #a5a709;
  color: #a5a709;
}
.activities-modal .activities-form .button-wrapper .cancel-btn:hover {
  background-color: #cfcc2b;
  color: #fff;
  transition: all 0.3s ease-in;
}
.activities-modal .activities-form .button-wrapper .save-btn {
  border: 2px solid #a5a709;
  background-color: #a5a709;
  color: #fff;
}
.activities-modal .activities-form .button-wrapper .save-btn:hover {
  background-color: #cfcc2b;
}

.activities-modal::backdrop {
  background: rgb(0, 0, 0);
  opacity: 0.1;
  backdrop-filter: blur(12px);
}/*# sourceMappingURL=main.css.map */